@import url("https://fonts.googleapis.com/css?family=Crimson+Pro|Lacquer&display=swap");

body {
    background-color: #888;
    color: #ddc124;
    font-family: "Crimson Pro", serif, sans-serif;
    padding: 0;
    margin: 0;
    text-align: center;
}

.header {
    background-color: #ddc124;
    color: white;
    width: 100%;
}

h1 {
    font-size: 4rem;
}

p {
    font-size: 1.5em;
}

img {
    width: 30%;
    box-shadow: 10px 10px 8px black;
    margin: 30px;
}

footer {
    margin-top: 10%;
}

button {
    border-radius: 5px;
    background-color: #ddc124;
    color: white;
    width: 8em;
    height: 2em;
    font-size: 1.5em;
}
